{% extends "base.html" %}
{% block title %}Что-то пошло не так{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <aside class="col-12 col-md-3">
        <span class="text-danger" style="font-size: 50pt">404</span>
      </aside>
      <article class="col-12 col-md-9">
        <h1>Упс, мы что-то потеряли...</h1>
        <p>Но очень скоро это найдём и вам покажем.</p>
        <p>А пока можно вернуться на
          <a href="{% url 'posts:index' %}">главную</a>
          страницу</p>
      </article>
    </div>
  </div>
{% endblock %} 