{% extends 'base.html' %}
{% block title %}
  Пост {{ post.text|truncatechars_html:30 }}
{% endblock %}
{% block content %}
  {% load thumbnail %}
  {% load user_filters %}
  <div class="container">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}
            <li class="list-group-item">
              Группа: {{ post.group.title }}
              <a href="{% url 'posts:group_list' post.group.slug %}">
                все записи группы
              </a>
            </li>
          {% endif %}
          <li class="list-group-item">
            Автор: {{ post.author|correct_username }}
          </li>
          <li
              class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: <span>{{ post.author.posts.count }}</span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author.get_username %}">
              все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}" alt="Image">
        {% endthumbnail %}
        {{ post.text|linebreaksbr }}
        {% if post.author == user %}
          <div class="py-2">
            <a class="btn btn-primary"
               href="{% url 'posts:post_edit' post.id %}">
              Редактировать запись
            </a>
          </div>
        {% endif %}
      </article>
    </div>
  </div>
  <comment>
    <hr>
    <div class="container">
      <h3>Комментарии</h3>
      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}
              <div class="form-group mb-2">
                {% include 'includes/show_form_fields.html' %}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% else %}
        <p class="text-secondary bg-info">
          Оставлять комментарии могут только зарегистрированные пользователи
        </p>
      {% endif %}

      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author|correct_username }}
              </a>
            </h5>
            <p>
              {{ comment.text|linebreaksbr }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </comment>
{% endblock %}