{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Профайл пользователя {{ author|correct_username }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Все посты пользователя {{ author|correct_username }} </h1>
    <h3>Всего постов: {{ author.posts.count }} </h3>
    <div class="container py-2">
      {% include 'includes/paginator.html' %}
    </div>
    {% for post in page_obj %}
      {% include 'includes/posts/post_v2.html' %}
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>

  <div class="container py-2">
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}