{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
  {% load user_filters %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Восстановление пароля
        </div>
        <div class="card-body">
          <p>Пароль успешно изменен.</p>
          <p>Теперь вы можете <a href="{% url 'users:login' %}">войти</a> в
            систему</p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
