{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Восстановление пароля
        </div>
        <div class="card-body">
          <p>На ваш email было направлено письмо, содержащие инструкции по
            восстановлению пароля.</p>
          <p>
            Если вы не получили письмо:
            <ul>
              <li>проверьте что указанный адрес соответствует адресу, указанному
                при регистрации
              </li>
              <li>проверьте папку "Спам" вашего почтового ящика</li>
            </ul>
          </p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
